@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poiret+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --cor: #32CD32;
    --cor1: #082020;
    --cor2: #1a1a1a;
    
    --padrao: Arial, Helvetica, sans-serif;
    --titulo: "Outfit", sans-serif;
    --paragrafo: "Rubik", sans-serif;
    --footer: "Poiret One", sans-serif;
}

/* estilização global do conteudo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilizando conteudo do site */
.container{
    background-color: #ddd;
    font-family: var(--padrao);
}

/* estilizando o cabeçalho da pagina */
.cabeçalho{
    background-color: var(--cor1);
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

/* estilizando informação inicial da pagina */
.cabeçalho-info{
    background-color: black;
    color: white;
    font-family: var(--paragrafo);
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    /* estilizando paragrafo de informação */
    & .info{
        margin-left: 20px;
    }

    /* estilizando numero de contato */
    & .telefone{
        margin-right: 20px;
    }
}

/* estilizando seção do cabeçalho */
.cabeçalho-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    /* estilizando div do titulo e botão */
    & .cabeçalho-titulo-botao{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        margin-left: 20px;

        /* estilizando titulo */
        & .titulo{
            font-family: var(--titulo);
            font-size: 3em;
            font-weight: 600;
            text-shadow: 2px 2px 0px rgb(0, 0, 0);

            /* estilizando parte expecifica do titutlo */
            & span{
                color: var(--cor);
            }
        }

        /* estilizando botão de pesquisa */
        & .botao-pesquisa{
            display: flex;
            flex-direction: row;
            align-items: center;

            /* estilizando barra de pesquisa */
            & input{
                background-color: #eee;
                border: none;
                outline: none;
                padding: 0.6em;
                border-radius: 10px;
            }
            & input:hover{
                border: 1px solid var(--cor);
            }

            /* estilizando botão de pesquisa */
            & button{
                background-color: var(--cor);
                border: none;
                outline: none;
                padding: 0.6em;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                position: absolute;
                left: 62.1%;
                cursor: pointer;
            }
        }
    }

    /* estilizando menu do cabeçalho */
    .cabeçalho-menu{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 20px;

        /* estilizando area de login do cabeçalho */
        #login{
            color: white;
            font-family: var(--paragrafo);
            font-size: 1.2em;
            font-weight: 200;
            text-decoration: none;
            transition: 0.3s;

            /* estilizando icone de login do cabeçalho */
            & i{
                background-color: var(--cor2);
                color: white;
                border: 1px solid var(--cor);
                border-radius: 50%;
                padding: 7px;
                transition: 0.3s;
            }
        }
        #login:hover{
            color: var(--cor);
            font-size: 1.3em;
            text-decoration: underline;

            & i{
                color: var(--cor);
                padding: 10px;
            }
        }

        /* estilizando carrinho de compra */
        #carrinho{
            color: white;
            font-size: 1.2em;
            text-decoration: none;
            border-radius: 50%;
            padding: 5px;
            transition: 0.3s;
        }
        #carrinho:hover{
            background-color: #2b9c2b;
            font-size: 1.3em;
            padding: 7px;
        }
    }
}

/* estilizando conteudo do site */
.conteudo{
    background-color: #222222;
    padding: 30px;
}

.imagem-produto{
    background-image: linear-gradient(to right, var(--cor), transparent);
    width: 300px;
}

.conteudo-principal{
    background-color: var(--cor2);
    max-width: 1000px;
    padding: 30px;
    margin: 0 auto;

    & .item{
        background-color: var(--cor1);
        color: white;
        width: 800px;
        padding: 0px 10px 0px 0px;
        margin: 30px auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & .item-conteudo{
        & .titulo-produto{
            font-family: var(--titulo);
            font-size: 2.3em;
            font-weight: normal;
            margin-bottom: 20px;
            text-indent: 20px;
        }

        & .paragrafo-produto{
            font-family: var(--paragrafo);
            text-align: justify;
            text-indent: 30px;
            max-width: 50vw;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        & .botao-produto{
            background-color: var(--cor);
            border: none;
            border-radius: 50px;
            outline: none;
            padding: 15px;
            position: absolute;
            left: 67%;
    

            & .link-produto{
                color: white;
                font-family: var(--paragrafo);
                font-size: 0.9em;
                font-weight: bolder;
                text-decoration: none;
                transition: 0.5s;
            }
            & .link-produto:hover{
                font-size: 1.1em;
            }
        }
    }
}

.patrocinios{
    background-color: #3b3b3b;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;

    & .titulo-patrocinio{
        background-image: linear-gradient(to right, var(--cor1), transparent);
        color: var(--cor);
        font-family: var(--titulo);
        font-weight: normal;
        text-indent: 30px;
        padding: 7px;
        margin-top: 10px;
    }

    & .patrocinios-secton{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 30px 0px;

        & .bloco-imagem{
            background-color: rgba(92, 92, 92, 0.212);
            box-shadow: 0px 0px 5px var(--cor);
            border-radius: 10px;
            padding: 5px 15px;
            transition: 0.3s;

            & a{
                color: transparent;
                text-decoration: none;
            }
        }
        & .bloco-imagem:hover{
            padding: 7px 17px;
        }
    }
}

.patrocinios .imagem-patrocinio{
    width: 100px;
}